{%  extends 'STEPAPP/mainadmin.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<p>Are you sure you want to delete this USER?</p>
			{% for teacher in teachers %}
			    <form action="{% url 'deleteTeacher' teacher.5 %}" method="POST">
				    {% csrf_token %}
            {% endfor %}
				<a class="btn btn-warning" href="{% url 'adminView' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm" >
			</form>
		</div>
	</div>
</div>
{% endblock %}