{%  extends 'STEPAPP/main.html' %}
{% load static %}
{% block content %}

<body>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <form method="POST" action="">
                  {%csrf_token %}
                <div class="container">
                <br>
                <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                <h3>Enter Details</h3>
                </div>
               </div>

              <div class="form-group row">
                   <label class="col-sm-2 col-form-label">Student:</label>
                   <div class="col-sm-4">
                       <input type="text" name="studentname" id="studentname" placeholder="Enter YourName..."class="form-control">
                   </div>
               </div>
                     <div class="form-group row">
                   <label class="col-sm-2 col-form-label">Teacher:</label>
                   <div class="col-sm-4">
                        <input type="text" name="teachername" id="teachername" placeholder="Enter TeacherName..."class="form-control">
                   </div>
               </div>
                     <div class="form-group row">
                   <label class="col-sm-2 col-form-label">Subject:</label>
                   <div class="col-sm-4">
                       <input type="text" name="subject" id="subject" placeholder="Enter Subject..."class="form-control">
                   </div>
               </div>
                     <div class="form-group row">
                   <label class="col-sm-2 col-form-label">Date:</label>
                   <div class="col-sm-4">
                        <input type="text" name="date" id="date" placeholder="Enter Meeting Date..."class="form-control">
                   </div>
               </div>
                    <div class="form-group row">
                   <label class="col-sm-2 col-form-label">Number:</label>
                   <div class="col-sm-4">
                       <input type="text" name="studentnumber" id="studentnumber" placeholder="Enter Number..."class="form-control">
                   </div>
               </div>

                    <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                    <a class="btn btn-warning" href="{% url 'StudentView' %}">Cancel</a>
                    <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
               </div>
                </div>

			</form>

		</div>
	</div>
</div>
</body>

{% endblock %}