{%  extends 'STEPAPP/mainadmin.html' %}


{% block content %}
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>STUDENTS</h5>
					<a class="btn btn-primary  btn btn-block" href="">Students Details</a>
				</div>
				<div class="card card-body">
						<table class="table">
								<tr>
									<th>Choose</th>
									<th>Students's ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Subject</th>
									<th>Phone Number</th>
									<th>Update</th>
									<th>Remove</th>
								</tr>

							{% for Student in Students %}
                        		<tr>
                          		 	<td><input type="checkbox" class="checkthis" /></td>
									<td>{{ Student.5 }}</td>
                                 	<td>{{ Student.2 }} {{ teacher.3 }}</td>
								 	<td>{{ Student.4 }}</td>
									<td>{{ Student.6 }}</td>
                                 	<td>{{ Student.7 }}</td>
									<th>
										<a href="/updateStudent/{{Student.5}}"><span class="btn btn-sm btn-info">Update</span></a>
									</th>
									<td>
										<a href="/deleteStudent/{{Student.5}}"><span class="btn btn-sm btn-danger">Delete</span></a>
									</td>

								</tr>
							{% endfor %}


						</table>
				</div>
			</div>

		</div>
    <br><br>
	<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>TEACHERS</h5>
					<a class="btn btn-primary  btn btn-block" href="">Teachers Details</a>
				</div>
				<div class="card card-body">
						<table class="table">
								<tr>
									<th>Choose</th>
									<th>Teachers's ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Subject</th>
									<th>Phone Number</th>
									<th>Update</th>
									<th>Remove</th>
								</tr>

							{% for teacher in teachers %}
                        		<tr>
                          		 	<td><input type="checkbox" class="checkthis" /></td>
									<td>{{ teacher.5 }}</td>
                                 	<td>{{ teacher.2 }} {{ teacher.3 }}</td>
								 	<td>{{ teacher.4 }}</td>
									<td>{{ teacher.6 }}</td>
                                 	<td>{{ teacher.7 }}</td>
									<th>
										<a href="/updateTeacher/{{teacher.5}}"><span class="btn btn-sm btn-info">Update</span></a>
									</th>
									<td>
										<a href="/deleteTeacher/{{teacher.5}}"><span class="btn btn-sm btn-danger">Delete</span></a>
									</td>

								</tr>
							{% endfor %}


						</table>
				</div>
			</div>

		</div>
{% endblock content %}