{%  extends 'STEPAPP/main.html' %}


{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>TEACHERS</h5>
					<hr>
					<div class="card card-body">
						<hr>
					<div class="card card-body">
					<a class="btn btn-danger  btn btn-block" href="">Teachers Details</a>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Choose</th>
							<th>Name</th>
							<th>Email</th>
                            <th>Subject</th>
                            <th>Phone Number</th>
						</tr>

						{% for Teacher in Teachers %}
                        <tr>
                         <td><input type="checkbox" class="checkthis" /></td>
                         <td>{{ Teacher.2 }} {{ Teacher.3 }}</td>
                         <td>{{ Teacher.4 }}</td>
                         <td>{{ Teacher.6 }}</td>
                         <td>{{ Teacher.7 }}</td>
                        </tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}